/*
GENERAL SETTING - MOBILE FIRST
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
HEADER - BOOTSTRAP
*/
.menu{
    height: 80px;
    background-color: blueviolet;
}

.left_logo{
    position: relative;
    border: 1px dashed white;
}

.left_logo > span{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.right_menu{
    position: relative;
    border: 1px dashed white;
}

.extended ul{
    list-style: none;
}

.extended li{
    display: inline-block;
    margin-left: 20px;
}

.extended{
    display: none;
    position: relative;
}

.hamburger{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hamburger > i{
    font-size: 25px;
}

/*
MAIN - FIRST SECTION
*/
.first_sec{
    background-color: rgb(43, 226, 156);
    height: 300px;
    border: 1px dashed white;
}

/*
MAIN - SECOND SECTION
*/
.title_sec{
    background-color: rgb(69, 95, 243);
    height: 100px;
    border: 1px dashed white;
}


.back-g{
    background-color:lime; 
}

.second_sec{
    background-color: rgb(240, 20, 20);
    border: 1px dashed white;
}

.col-content{
    border-radius: 15px;
    background-color: aqua;
    border: 1px solid black;
    margin: 5px;
    padding: 50px;
    text-align: center;
}
